
body{
    padding: 0px;
    background-attachment: scroll;

    
    
    
    
}
.MyPortfilo{
    
    
    width: 600px;
    height: 600px;
    bottom: 80%;
    background-image: url(back2.jpg);
    position: relative;
    margin: auto;
    color: cyan;
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
    
    

}



.explanation{   
    
    font-size: 20px;
    font-family: cursive;
    font: bold;
    color:black;
    text-align: center;
    

}

.prj1, .prj2{
    margin: 0px;
    padding: 50px;
    font-size: 15px;
    color: springgreen;
    top: 20%;
    bottom: 20%;
}

.prj1{
    
    position: absolute;
    right: 45%;
    
    
}

.prj2{
    
    position: absolute;
    left: 45%;
    
    
}

.sm-icons{
    
   margin: 0px;
   position: absolute;
   left: 60%;
   bottom: 75%; 
   
}



.prj1:hover{
    transform: scale(1.25);
    
}
.prj2:hover{
    transform: scale(1.25);
}